<main class="position-relative no-before">
    <div class="wrapper row col-lg-10 mx-auto pt-4 position-relative">
        
        {{> sidebar}}

        <div class="main-page col-lg-7 mx-auto">

            <div class="header d-flex align-items-center justify-content-between">
                <button class="p-2">
                    <i class="fa fa-align-left" aria-hidden="true"></i>
                </button>
                
                <form class="searchbar d-flex w-100 mx-4 px-2 rounded-1" action="">
                    <input 
                        type="text"
                        placeholder="Search"
                        class="w-100"
                    >
                    <button class="p-2">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>

                <i class="fa fa-bell" aria-hidden="true"></i>
                <div class="px-3">
                    <div class="acct-img rounded-circle shadow-lg" style="width: 40px; height: 40px; overflow: hidden;">
                        <img src="/img/footer-advertising@2x.jpg" style="width: 100%; height: 100%;" alt="">
                    </div>
                </div>
            </div>

            <div class="content py-5">

                <div class="table shadow-lg mb-5"> 
                    <h5 class="d-flex justify-content-between align-items-center px-3">
                        Drugs
                        <button 
                            class="btn btn-outline-primary d-inline addBtn"
                            onclick="location.href = '/admin/drugs/new'"    
                        >
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            New Drug
                        </button>
                    </h5>
                    <table class="activity">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Drug</th>
                                <th>Pharmacy</th>
                                <th>Auth. PIN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each drugs}}
                                <tr>
                                    <td><span class="sn"></span></td>
                                    <td>
                                        <a href="/admin/drugs/{{this.drugID}}" style="color: var(--main-col);">
                                            {{this.name}}
                                        </a>
                                    </td>
                                    <td>{{this.pharmacy}}</td>
                                    <td>{{spliter this.authPin '5' '-'}}</td>
                                </tr>
                            {{/each}}
                            <tr>
                                <td></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            
            <footer class="text-center" style="color: #aaa;">
                <p>
                    <strong>&copy; 2021 iDrug</strong>
                </p>
            </footer>
            
        </div>

    </div>

    
</main>