<main class="phone-view">
    

    <img src="/img/logo.svg" alt="">
    <form class="col-lg-3 col-10" method="POST" action="/auth-pin">
        <div class="form-box">
            <input 
                id=""
                type="text" 
                name="authPin"
                placeholder="Drug Authenticity PIN (DAP)"
            >
        </div>
        <div class="form-box col-lg-5 col-7">
            <button type="submit">Check</button>
        </div>
    </form>



    <img id="blob1" src="/img/Path 1.svg" alt="">
    <img id="blob2" src="/img/Path 2.svg" alt="">


</main>